<div class="card my-3">
    <div class="card-header container container-fluid">
        <div class="row">
            <div class="col col-6 "><a href="./updateBlogPost/{{id}}" class="text-decoration-none text-reset">
                    <h5>{{title}}</h7>
                </a></div>
            <div class="col-6 ">
                <p class="text-sm-end">{{format_date date_created}}</p>
            </div>
        </div>
    </div>
</div>