<div class="card">
    <div class="card-header">
        <h3>Login</h3>
    </div>
    <div class="card-body">
        <form class="login-form">
            <div class="mb-3">
                <label for="loginEmail" class="form-label">Email:</label>
                <input type="email" class="form-control" id="loginEmail">
            </div>
            <div class="mb-3">
                <label for="loginPassword" class="form-label">Password:</label>
                <input type="password" class="form-control" id="loginPassword">
            </div>
            <button type="submit" class="btn cardBtn">Login</button>
            <a href="./signup">Sign up instead</a>
        </form>
    </div>
</div>