<div class="card m-3">
    <form class="updateForm">
        <div class="card-header">
            <div class="col-sm-10">
                <textarea type="text" class="form-control" rows="1" id="postTitle">{{title}}</textarea>
            </div>
        </div>
        <div class="card-body">
            <div class="col-sm-10">
                <textarea type="text" class="form-control" rows="3" id="postContent">{{content}}</textarea>
            </div>
        </div>
        <div class="card-footer">
            <div class="row my-1">
                <button type="submit" id="updatePostBtn" class="btn btn-lg cardBtn">Update post</button>
            </div>
            <div class="row my-1">
                <button type="click" id="deletePostBtn" class="btn btn-lg cardBtn" data-id="{{id}}">Delete post</button>
            </div>
        </div>
    </form>
</div>